<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/lesson03part3/03.3.10.css">
    <title>Positioning Playground</title>
</head>
<body>

<div class="viewport">
    <section class="card">
        <img src="/images/03.3.10/picture1.jpg" alt=""><i class="fa-solid fa-link"></i>

    </section>
</div>

<div class="viewport">
    <section class="card">
        <img src="/images/03.3.10/picture2.jpg" alt=""><i class="fa-solid fa-star"></i>

    </section>
</div>

</body>
</html>