* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

section {
    flex-wrap: wrap;
    display: flex;
}

.container {
    max-width: 65vw;
    display: flex;
}

span {
    display: block;
    border: solid 3px black;
    flex-grow: 1;
    padding-top: 1em;
    padding-bottom: 5em;
    text-align: center;
}

.week span:nth-child(1),
.week span:nth-child(7){
    width: 100%;
}

.notes{
    flex-direction: column;
}
