<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABC Game</title>
    <link rel="stylesheet" href="/css/lesson04part3/04.3.3.css"/>
</head>
<body>
<div class="container">
    <span class="box1">H</span>
    <span class="box2">e</span>
    <span class="box3">T</span>
    <span class="box4">a</span>
    <span class="box5">c</span>
    <span class="box6">i</span>
    <span class="box7">M</span>
    <span class="box8">n</span>
    <span class="box9">t</span>
    <span class="box10">L</span>
    <span class="box11">S</span>
    <span class="box12">m</span>
</div>
</body>
</html>