<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/lesson04part3/04.3.11.1.css"/>
    <title>Expanding Flex Cards</title>
</head>
<body>

<main>
    <section>
        <h2>Layout Masonry</h2>
        <ul class="card-gallery">
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image1.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image2.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image3.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image4.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image1.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image2.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image3.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image4.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
        </ul>
    </section>

    <section>
        <h2>Layout Flex</h2>
        <ul class="card-gallery">
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image1.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image2.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image3.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image4.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image1.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image2.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image3.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
            <li class="card">
                <header>
                    <img src="/images/04.3.11/Image4.jpg" alt="">
                </header>
                <article>
                    <h1>Card Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim
                        eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
                        perspiciatis molestiae corporis. Odio!</p>
                </article>
                <footer>
                    <p>More interesting things about the thing</p>
                </footer>
            </li>
        </ul>
    </section>
</main>

</body>
</html>