<!DOCTYPE html>
<html lang="en">

<head>
    <title>Responsive Tables</title>
    <link rel="stylesheet" href="/css/lesson05part3/05.3.6.css">

</head>

<body>
<table>
    <thead>
    <tr>
        <th>Country</th>
        <th>Population</th>
        <th>Score</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td data-title="Country">Somewhere</td>
        <td data-title="Population">3M</td>
        <td data-title="Score">25</td>
    </tr>
    <tr>
        <td data-title="Country">Somewhere else</td>
        <td data-title="Population">12M</td>
        <td data-title="Score">125</td>
    </tr>
    <tr>
        <td data-title="Country">That place</td>
        <td data-title="Population">23M</td>
        <td data-title="Score">235</td>
    </tr>
    <tr>
        <td data-title="Country">Somewhere</td>
        <td data-title="Population">3M</td>
        <td data-title="Score">25</td>
    </tr>
    <tr>
        <td data-title="Country">Somewhere else</td>
        <td data-title="Population">12M</td>
        <td data-title="Score">125</td>
    </tr>
    <tr>
        <td data-title="Country">That place</td>
        <td data-title="Population">23M</td>
        <td data-title="Score">35</td>
    </tr>
    <tr>
        <td data-title="Country">Somewhere</td>
        <td data-title="Population">3M</td>
        <td data-title="Score">25</td>
    </tr>
    <tr>
        <td data-title="Country">Somewhere else</td>
        <td data-title="Population">12M</td>
        <td data-title="Score">125</td>
    </tr>
    <tr>
        <td data-title="Country">That place</td>
        <td data-title="Population">23M</td>
        <td data-title="Score">235</td>
    </tr>
    </tbody>
</table>

</body>

</html>