<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responsive Top Menu</title>
    <link rel="stylesheet" href="/css/lesson05part3/05.3.2.css"/>
</head>
<body>
<header class="task-box">
    <p class="site-header">Welcome</p>
    <nav  class="header-nav">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <nav class="task-box">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Create</a></li>
        </ul>
    </nav>
    <section class="task-box">
        <span class="box-header">Task: 6</span>
        <div class="box-list">
            <ul>
                <li><a href="#">Open: 3</a></li>
                <li><a href="#">In progress: 1</a></li>
                <li><a href="#">Done: 2</a></li>
            </ul>
        </div>
    </section>
</main>
<footer class="task-box">
    <p>&copy; 2021 - Task Board</p>
</footer>
</body>
</html>