<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HTML & CSS</title>
</head>
<body>

<h2>HTML & CSS</h2>
<ul style="list-style-type:none;">
    <li>
        <details>
            <summary> 1 HTML & CSS</summary>
            <ul style="list-style-type:none;">
                <li>
                    <details>
                        <summary> 1.2 Introduction to HTML & CSS</summary>
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/01.2.1"> 1.2.1 Tag Cardio: Headers</a>
                            </li>
                            <li>
                                <a href="/01.2.2"> 1.2.2 Tag Cardio: Paragraphs</a>
                            </li>
                            <li>
                                <a href="/01.2.3"> 1.2.3 Tag Cardio: Order and Unorder Lists</a>
                            </li>
                            <li>
                                <a href="/01.2.4"> 1.2.4 Tag Cardio: Definition Lists</a>
                            </li>
                            <li>
                                <a href="/01.2.5"> 1.2.5 Tag Cardio: Semantic HTML Header</a>
                            </li>
                            <li>
                                <a href="/01.2.6"> 1.2.6 Tag Cardio: Semantic HTML Main</a>
                            </li>
                            <li>
                                <a href="/01.2.7"> 1.2.7 Tag Cardio: Semantic HTML Footer</a>
                            </li>
                            <li>
                                <a href="/01.2.8"> 1.2.8 Tag Cardio: Semantic HTML Article</a>
                            </li>
                            <li>
                                <a href="/01.2.9"> 1.2.9 Tag Cardio: Semantic HTML Section</a>
                            </li>
                            <li>
                                <a href="/01.2.10"> 1.2.10 Tag Cardio: Semantic HTML Nav</a>
                            </li>
                            <li>
                                <a href="/01.2.11"> 1.2.11 Tag Cardio: Semantic HTML Details and Summary</a>
                            </li>
                            <li>
                                <a href="/01.2.12"> 1.2.12 Selector Cardio: Element</a>
                            </li>
                            <li>
                                <a href="/01.2.13"> 1.2.13 Selector Cardio: Class</a>
                            </li>
                            <li>
                                <a href="/01.2.14"> 1.2.14 Selector Cardio: ID</a>
                            </li>
                            <li>
                                <a href="/01.2.15"> 1.2.15 Selector Cardio: Attribute</a>
                            </li>
                            <li>
                                <a href="/01.2.16"> 1.2.16 CSS Properties Cardio: Background</a>
                            </li>
                            <li>
                                <a href="/01.2.17"> 1.2.17 CSS Properties Cardio: Color</a>
                            </li>
                            <li>
                                <a href="/01.2.18"> 1.2.18 CSS Properties Cardio: Font Family</a>
                            </li>
                        </ul>
                    </details>
                </li>

                <li>
                    <details>
                        <summary> 1.3 Exercise: HTML & CSS</summary>
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/01.3.1"> 1.3.1 Welcome to HTML</a>
                            </li>
                            <li>
                                <a href="/01.3.2"> 1.3.2 Fruits</a>
                            </li>
                            <li>
                                <a href="/01.3.3"> 1.3.3 Wiki Page</a>
                            </li>
                            <li>
                                <a href="/01.3.4"> 1.3.4 To Do List</a>
                            </li>
                            <li>
                                <a href="/01.3.5"> 1.3.5 Reversed List</a>
                            </li>
                            <li>
                                <a href="/01.3.6"> 1.3.6 The Modern JavaScript</a>
                            </li>
                            <li>
                                <a href="/01.3.7"> 1.3.7 Book Story</a>
                            </li>
                            <li>
                                <a href="/01.3.8"> 1.3.8 World Cup News</a>
                            </li>
                            <li>
                                <a href="/01.3.9"> 1.3.9 Navigation Bar</a>
                            </li>
                            <li>
                                <a href="/01.3.10"> 1.3.10 Page Content</a>
                            </li>
                            <li>
                                <a href="/01.3.11"> 1.3.11 Semantic Tags</a>
                            </li>
                            <li>
                                <a href="/01.3.12"> 1.3.12 Semantic Article Page</a>
                            </li>
                            <li>
                                <a href="/01.3.13"> 1.3.13 Simple Website</a>
                            </li>
                            <li>
                                <a href="/01.3.14"> 1.3.14 Semantic Blog Layout</a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </details>
    </li>


    <li>
        <details>
            <summary> 2 Typography in CSS</summary>
            <ul style="list-style-type:none;">
                <li>
                    <details>
                        <summary> 2.2 Typography in CSS</summary>
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/02.2.1"> 2.2.1 Descendant Combinator</a>
                            </li>
                            <li>
                                <a href="/02.2.2"> 2.2.2 General or Subsequent Sibling Combinator</a>
                            </li>
                            <li>
                                <a href="/02.2.3"> 2.2.3 Adjacent or Next Sibling Combinator</a>
                            </li>
                            <li>
                                <a href="/02.2.4"> 2.2.4 Child Combinator</a>
                            </li>
                            <li>
                                <a href="/02.2.5"> 2.2.5 First Child</a>
                            </li>
                            <li>
                                <a href="/02.2.6"> 2.2.6 First of Type</a>
                            </li>
                            <li>
                                <a href="/02.2.7"> 2.2.7 Last Child</a>
                            </li>
                            <li>
                                <a href="/02.2.8"> 2.2.8 Last of Type</a>
                            </li>
                            <li>
                                <a href="/02.2.9"> 2.2.9 Nth Child</a>
                            </li>
                            <li>
                                <a href="/02.2.10"> 2.2.10 Hover</a>
                            </li>
                            <li>
                                <a href="/02.2.11"> 2.2.11 Active</a>
                            </li>
                            <li>
                                <a href="/02.2.12"> 2.2.12 Focus</a>
                            </li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>2.3 Exercise: Typography in CSS</summary>
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/02.3.1"> 2.3.1 Restaurant Menu</a>
                            </li>
                            <li>
                                <a href="/02.3.2"> 2.3.2 Style Lists</a>
                            </li>
                            <li>
                                <a href="/02.3.3"> 2.3.3 Styling Tables</a>
                            </li>
                            <li>
                                <a href="/02.3.4"> 2.3.4 Buttons CSS</a>
                            </li>
                            <li>
                                <a href="/02.3.5"> 2.3.5 Fonts Speciment – Great Vibes + Raleway</a>
                            </li>
                            <li>
                                <a href="/02.3.6"> 2.3.6 Contrasting Colors</a>
                            </li>
                            <li>
                                <a href="/02.3.7"> 2.3.7 The Making of a CSS Font</a>
                            </li>
                            <li>
                                <a href="/02.3.8"> 2.3.8 Font Awesome Icons</a>
                            </li>
                            <li>
                                <a href="/02.3.9"> 2.3.9 Icon Font Buttons</a>
                            </li>
                            <li>
                                <a href="/02.3.10"> 2.3.10 Icon Font List</a>
                            </li>
                            <li>
                                <a href="/02.3.11"> 2.3.11 Create Typography CSS</a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </details>
    </li>

    <li>
        <details>
            <summary> 3 Box Model & Position</summary>
            <ul style="list-style-type:none;">
                <li>
                    <details>
                        <summary>3.2 Box Model & Position</summary>
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/03.2.1"> 3.2.1 Padding</a>
                            </li>
                            <li>
                                <a href="/03.2.2"> 3.2.2 Padding-Inline</a>
                            </li>
                            <li>
                                <a href="/03.2.3"> 3.2.3 Padding-Block</a>
                            </li>
                            <li>
                                <a href="/03.2.4"> 3.2.4 Margin</a>
                            </li>
                            <li>
                                <a href="/03.2.5"> 3.2.5 Margin-Inline</a>
                            </li>
                            <li>
                                <a href="/03.2.6"> 3.2.6 Margin-Block</a>
                            </li>
                            <li>
                                <a href="/03.2.7"> 3.2.7 Width</a>
                            </li>
                            <li>
                                <a href="/03.2.8"> 3.2.8 Height</a>
                            </li>
                            <li>
                                <a href="/03.2.9"> 3.2.9 Border</a>
                            </li>
                            <li>
                                <a href="/03.2.10"> 3.2.10 Box-Sizing</a>
                            </li>
                            <li>
                                <a href="/03.2.11"> 3.2.11 Position - Absolute</a>
                            </li>
                            <li>
                                <a href="/03.2.12"> 3.2.12 Position - Relative</a>
                            </li>
                            <li>
                                <a href="/03.2.13"> 3.2.13 Z-Index</a>
                            </li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>3.3 Exercise: CSS Box Model</summary>
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/03.3.1"> 3.3.1 Box Model Container</a>
                            </li>
                            <li>
                                <a href="/03.3.2"> 3.3.2 Scrolling Article</a>
                            </li>
                            <li>
                                <a href="/03.3.3"> 3.3.3 Brazil Coffee</a>
                            </li>
                            <li>
                                <a href="/03.3.4"> 3.3.4 Article</a>
                            </li>
                            <li>
                                <a href="/03.3.5"> 3.3.5 Blog Article</a>
                            </li>
                            <li>
                                <a href="/03.3.6"> 3.3.6 Navigation Inline Block</a>
                            </li>
                            <li>
                                <a href="/03.3.7"> 3.3.7 Make Your Own Website</a>
                            </li>
                            <li>
                                <a href="/03.3.8"> 3.3.8 Photo Gallery Inline Block</a>
                            </li>
                            <li>
                                <a href="/03.3.9"> 3.3.9 Blog Layout Inline Block</a>
                            </li>
                            <li>
                                <a href="/03.3.10"> 3.3.10 Position Playground</a>
                            </li>
                            <li>
                                <a href="/03.3.11"> 3.3.11 Center Position and Transform</a>
                            </li>
                            <li>
                                <a href="/03.3.12"> 3.3.12 Navigation </a>
                            </li>
                            <li>
                                <a href="/03.3.13"> 3.3.13 New Offer</a>
                            </li>
                            <li>
                                <a href="/03.3.14"> 3.3.14 Social Media Icons</a>
                            </li>
                            <li>
                                <a href="/03.3.15"> 3.3.15 Interior Design Studio</a>
                            </li>
                            <li>
                                <a href="/03.3.16"> 3.3.16 Jewellery Website</a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </details>
    </li>


    <li>
        <details>
            <summary> 4 CSS Layout - Flexbox</summary>
            <ul style="list-style-type:none;">
                <li>
                    <details>
                        <summary>4.2 CSS Layout - Flexbox</summary>
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/04.2.1"> 4.2.1 Display Flex</a>
                            </li>
                            <li>
                                <a href="/04.2.2"> 4.2.2 Flex Direction</a>
                            </li>
                            <li>
                                <a href="/04.2.3"> 4.2.3 Flex Wrap</a>
                            </li>
                            <li>
                                <a href="/04.2.4"> 4.2.4 Justify Content</a>
                            </li>
                            <li>
                                <a href="/04.2.5"> 4.2.5 Align Items</a>
                            </li>
                            <li>
                                <a href="/04.2.6"> 4.2.6 Align Content</a>
                            </li>
                            <li>
                                <a href="/04.2.7"> 4.2.7 Gap</a>
                            </li>
                            <li>
                                <a href="/04.2.8"> 4.2.8 Flex Grow</a>
                            </li>
                            <li>
                                <a href="/04.2.9"> 4.2.9 Flex Shrink</a>
                            </li>
                            <li>
                                <a href="/04.2.10"> 4.2.10 Flex Basis</a>
                            </li>
                            <li>
                                <a href="/04.2.11"> 4.2.11 Align Self</a>
                            </li>
                            <li>
                                <a href="/04.2.12"> 4.2.12 Order</a>
                            </li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>4.3 Exercise: Flexbox</summary>
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/04.3.1"> 4.3.1 Flexbox Layout</a>
                            </li>
                            <li>
                                <a href="/04.3.2"> 4.3.2 FlexModel Articles</a>
                            </li>
                            <li>
                                <a href="/04.3.3"> 4.4.3 ABC Game</a>
                            </li>
                            <li>
                                <a href="/04.3.4"> 4.3.4 Calendar</a>
                            </li>
                            <li>
                                <a href="/04.3.5"> 4.3.5 Navigation Flexbox</a>
                            </li>
                            <li>
                                <a href="/04.3.6"> 4.3.6 Photo Gallery – Flexbox</a>
                            </li>
                            <li>
                                <a href="/04.3.7"> 4.3.7 Blog Layout – Flexbox</a>
                            </li>
                            <li>
                                <a href="/04.3.8"> 4.3.8 Sticky Footer – Flexbox</a>
                            </li>
                            <li>
                                <a href="/04.3.9"> 4.3.9 Center Flexbox</a>
                            </li>
                            <li>
                                <a href="/04.3.10"> 4.2.10 Expanding Flex Cards</a>
                            </li>
                            <li>
                                <a href="/04.3.11"> 4.2.11 Cards with CSS Columns and Flexbox</a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </details>
    </li>


    <li>
        <details>
            <summary>5 Responsive Web Design</summary>
            <ul style="list-style-type:none;">
                <li>
                    <details>
                        <summary>5.2 Responsive Web Design</summary>
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/05.2.1"> 5.2.1 Media Type: All</a>
                            </li>
                            <li>
                                <a href="/05.2.2"> 5.2.2 Media Type: Screen</a>
                            </li>
                            <li>
                                <a href="/05.2.3"> 5.2.3 Media Type: Print</a>
                            </li>
                            <li>
                                <a href="/05.2.4"> 5.2.4 Media Feature: Hover</a>
                            </li>
                            <li>
                                <a href="/05.2.5"> 5.2.5 Media Feature: Orientation</a>
                            </li>
                            <li>
                                <a href="/05.2.6"> 5.2.6 Media Feature: Width</a>
                            </li>
                            <li>
                                <a href="/05.2.7"> 5.2.7 Property: Container Type</a>
                            </li>
                            <li>
                                <a href="/05.2.8"> 5.2.8 Container: Query</a>
                            </li>
                            <li>
                                <a href="/05.2.9"> 5.2.9 Units Viewport Width</a>
                            </li>
                            <li>
                                <a href="/05.2.10"> 5.2.10 Units Viewport Height</a>
                            </li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>5.3 Exercise: Responsive Web Design</summary>
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/05.3.1"> 5.3.1 Responsive Site Layout</a>
                            </li>
                            <li>
                                <a href="/05.3.2"> 5.3.2 Responsive Top Menu</a>
                            </li>
                            <li>
                                <a href="/05.3.3"> 5.3.3 Media Queries in Typography</a>
                            </li>
                            <li>
                                <a href="/05.3.4"> 5.3.4 Responsive Media Boxes</a>
                            </li>
                            <li>
                                <a href="/05.3.5"> 5.3.5 Landing Page</a>
                            </li>
                            <li>
                                <a href="/05.3.6"> 5.3.6 Responsive Tables</a>
                            </li>
                            <li>
                                <a href="/05.3.7"> 5.3.7 Responsive Vertical Timeline</a>
                            </li>
                            <li>
                                <a href="/05.3.8"> 5.3.8 Company Web Site</a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </details>
    </li>


    <li>
        <details>
            <summary>6 Form & Working with Forms</summary>
            <ul style="list-style-type:none;">
                <li>
                    <a href="/03.2.1"> 03.2.1</a>
                </li>
            </ul>
        </details>
    </li>


    <li>
        <details>
            <summary>7 Exam Preparation</summary>
            <ul style="list-style-type:none;">
                <li>
                    <a href="/03.2.1"> 03.2.1</a>
                </li>
            </ul>
        </details>
    </li>


    <li>
        <details>
            <summary>8 Exam</summary>
            <ul style="list-style-type:none;">
                <li>
                    <a href="/03.2.1"> 03.2.1</a>
                </li>
            </ul>
        </details>
    </li>

</ul>

</body>
</html>